<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    content add 
</br>
<form action="{% url 'content_add' %}" method="POST">
    {% csrf_token %}
    <input name="product_name" placeholder="파실 물건이 뭔가요" type='text' />
</br>
<input name="product_price" placeholder="가격을 입력하세요" type='text' />
</br>
<input name="product_region" placeholder="거래 가능 지역을 적어주세요" type='text' />

</br>
<input type="file" name="prod_file">
</br>
<input type="submit" value="Regist"/>
</form>
</br>
</body>
</html>