<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
</head>
<body>
    join
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
    <input name="username" placeholder="이름을 입력 하세요" type='text' />
    <button name="duplicated_id" type="submit">check</button>
    <input name="userid" placeholder="ID를 입력 하세요" type='text' />
    <input name="userpw" placeholder="PW를 입력 하세요" type='text' />
    <input name="userpw_confirm" placeholder="PW를 다시 입력 하세요" type='text' />
    <input name="userface" placeholder="얼굴데이터" type='text' />
    <input name="useremail" placeholder="email을 입력 하세요" type='text' />
    <input name="userHP" placeholder="전화번호를 입력 하세요" type='text' />
    <input name="usernick" placeholder="닉네임을 입력 하세요" type='text' />
    <button type="submit">Join</button>
    </form>
</body>
</html>